# Dépendances
node_modules/
//MONGODB_URI=mongodb+srv://abdou-drame:Iniesta500@cluster0.ewibmle.mongodb.net/terrangafood?retryWrites=true&w=majority

# Variables d'environnement (ne jamais commiter !)
.env

# Next.js
.next/
out/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
